<div class="jumbotron">

  <h1>Likes</h1>

  <table>
    <thead>
      <tr>
        <th colspan="1"></th>
        <th>Title</th>
        <th>Artist</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @street_arts.each do |street_art| %>
        <tr>
          <td><%= image_tag(street_art.image_url(:thumb).to_s) %></td>
          <td><%= street_art.title %></td>
          <td><%= street_art.artist %></td>
          <td><%= link_to 'Show', street_art %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
